{% extends 'base.html.twig' %}


{% block title %}Enregistrer chambre
{% endblock %}

{% block body %}
	<div class="card card-outline-secondary w-50 m-auto">
		<div class="card-header">
			<div id="alert" role="alert"></div>
			<h3 class="mb-0">Enregistrer une chambre</h3>
		</div>
		<div class="card-body">
			{{form_start(form)}}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>
			<div class="form-row">
				<div class="form-group col-md-6">
					{{form_row(form.numbat, { 'label': 'Numéro batiment'} )}}
				</div>
				<div class="form-group col-md-6">
					{{form_row(form.type, { 'label': 'Type de chambre' })}}
				</div>
			</div>

		</div>
            <div class="col text-center">
		<input name="" id="" class="btn btn-primary" type="submit" value="Enregistrer">
        </div>
		{{form_end(form)}}
	</div>
</div>{% endblock %}
